@import '../../theme.less';

.filters-pane {
  background-color: @primary-variant-color;
  padding: @padding-lg @padding-xs;
  font-weight: 600;
}

.input-label {
  display: inline-flex;
  align-items: center;

  .input-label-icon {
    fill: @primary-color;
    margin-right: @padding-xs;
  }
}
