.App-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  line-height: 96px;
  height: 96px;
}

.App-logo {
  width: 12%;
  margin: 0 24px;
  float: left;
  font-size: 24px;

  a {
    color: white;
  }
}

.App-header-menu {
  line-height: 96px;
}

.App-content-wrapper {
  padding: 0 32px;
  margin-top: 96px;
  min-height: calc(100vh - 134px);
}

.App-content {
  min-height: 80vh;
  padding: 24px 0;

  > * {
    min-height: inherit;
  }
}

.App-footer {
  text-align: center;
}
